header{
  border: 1px black solid;
  text-align: center;
  background-color: rgb(71, 74, 87);
  color: orange;
  
  
}


body {
  background-color: rgb(50, 145, 139);
  margin: 10%;
}

main {
  text-align: center;
  margin: 10%;
}



#myForm {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  
  
}




.tableSection {
  position: relative;
  
}





#tableInfo {
  text-align: center;
  margin: auto;
  
  
}
 

#headerTable {
  margin-top: 100px;
  margin-bottom: 300px;
  
  
 }




 tr {
  background-color: rgb(144, 151, 237);
}






#employeeInfo {
  background-color: rgb(3, 135, 149);
}


.submitButton {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    position: relative
    
}

table {
    width: 70%;
    text-align: left;
  }
  table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }

  h2 {
    text-align: right;
    margin-right: 30%;
  }

  h3 {
    margin-top: 100px;
    
  }

 .yesRed {
    background-color: red;
 }

 .noLines {
  border: none;
  background-image: linear-gradient(rgb(66, 241, 241), rgba(135, 44, 44, 0.018), rgb(252, 251, 250));
 }

